<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="container">
  <h1 align="center">Welcome To Doctor Appointment</h1>
  <nav class="navbar navbar-expand-sm btn-secondary navbar-dark">
    <a class="navbar-brand" href="">
    </a>
    <ul class="nav nav-pills ">
    <li class="nav-item ">
      <a class="nav-link" class="btn btn-outline-success  btn-sm  mr-3" routerLink="listdoc">Display All Doctor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="adddoc">Add Doctor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="updatedoc">Update Doctor</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" class="btn btn-outline-success  btn-sm  mr-3" routerLink="listpatient">Display All Patient</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="addpatient">Add Patient</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="updatepatient">Update Patient</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" class="btn btn-outline-success  btn-sm  mr-3" routerLink="listappointment">Display All Appointment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="addappointment">Add Appointment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="updateappointment">Update Appointment</a>
    </li>
  </ul>
  </nav>
  </div>
  <router-outlet></router-outlet>